#lienRayons {
    margin-bottom: 30px;
}

#lienRayons > a {
    color: #555;
    text-decoration: underline;
}

.text-muted {
    margin-top: 20px;
    margin-bottom: 20px;
}

.boutonFormulaire {
    border: none;
    background-color: #d69262;
    width: 100%;
}